.add__doc-plus {
  position: relative;
  display: inline-block;
  height : 200px;
  width : 150px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../../img/docs-blank-googlecolors.png");
    background-position-x: 50%;
    background-position-y: 50%;
    transform: scale(0.4);
  }

  &:hover {
    border: 1px solid blue;
  }
}

.add__doc-title {
  font-size: 15px;
  padding-left: 5px;
  font-weight: normal;
}