body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

p,h1,h2,h3,h4,ul,li,menu {
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
  color: #000000;
}

.item__hover:hover {
  cursor: pointer;
  background-color: rgba(159, 192, 227, 0.3);
  border-radius: 20px;
  border: 0 !important;
}