body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #000;
  overflow: hidden;
  overflow-x: auto;
}

* {
  box-sizing: border-box;
}

p,h1,h2,h3,h4,li,menu {
  margin: 0;
  padding: 0;
}

textarea {
  padding: 0;
  margin: 0;
  width: 100%;
  border: 0;
  height: initial;
  resize: none !important;
  overflow: hidden !important;
}

:focus {
  outline: none;
}

a:link {
  text-decoration: none;
  color: #000000;
}


.item__hover {

  &:hover {
    cursor: pointer;
    background-color: #e8f0fe;
    border-radius: 20px;
    border: 0 !important;
  }
}


.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                               not supported by any browser */
}

.simplebar-track.simplebar-vertical {
  width: 12px !important;
}

.simplebar-track {
  right: 3px !important;
}

.simplebar-scrollbar::before {
  background-color: rgb(42, 42, 42) !important;
}