.header__doc-text {
  font-size: 20px;
  margin-left: 5px;
  color: #303030;
}

.header__doc-search-list {
  position : absolute;
  top : 45px;
  left : 0;
  z-index: 999;
  background-color: rgb(255,255,255);
  padding: 10px 0;
  width : 100%;
  box-shadow: 0 2px 5px 2px rgba(60,64,67,0.15);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header__doc-search-list-item {
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: hsla(0, 0%, 81%, 0.4);
  }
}

.header__input-focus {
  background-color : rgb(255,255,255) !important;
  box-shadow : rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition : background-color .2s linear, box-shadow .2s linear;
}

.header__input-blur {
  background-color :rgba(192, 192, 192, 0.2) !important;
  box-shadow : none;
  transition : background-color .2s linear, box-shadow .2s linear;
}