.page {
  background-color: #ffffff;
  font-size: 16px;

  .image {
    position: relative;
    display: inline-block;
    height: 200px;
    width: 200px;
    background-position: center;
    background-size : cover;
    background-repeat: no-repeat;
    margin: 5px 0;
    margin-right: 5px;
    z-index: 1;
  }

  .image img {
    height: 200px;
    width: 200px;
  }

  .activeImage {
    outline: 2px solid #1344e6;
  }

  .activeImage div:nth-child(1) {
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    z-index: 999;
    background-color: #1344e6;
  }

  .activeImage div:nth-child(2) {
    position: absolute;
    bottom: -5px;
    right: -5px;
    height: 10px;
    width: 10px;
    z-index: 999;
    background-color: #1344e6;
  }

  .activeImage div:nth-child(3) {
    position: absolute;
    bottom: -12px;
    right: 50%;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    z-index: 999;
    background-color: #1344e6;
  }
}