.bold {
  font-weight: bold;
}

.normalWeight {
  font-weight: normal;
}

.italic {
  font-style: italic;
}

.normalItalic {
  font-style: normal;
}


.underline {
  text-decoration: underline;
}

.noneUnderline {
  text-decoration: none;
}


//.Roboto {
//  font-family: 'Roboto', sans-serif;
//}
//
//.Montserrat {
//  font-family: 'Montserrat', sans-serif;
//}
//
//
//.NotoSansJP {
//  font-family: 'Noto Sans JP', sans-serif;
//}
//
//
//.OpenSans {
//  font-family: 'Open Sans', sans-serif;
//}
//
//.Anton {
//  font-family: 'Anton', sans-serif;
//}