.bold {
  font-weight: bold;
}

.normalWeight {
  font-weight: normal;
}

.italic {
  font-style: italic;
}

.normalItalic {
  font-style: normal;
}


.underline {
  text-decoration: underline;
}

.noneUnderline {
  text-decoration: none;
}